<div>
    {{#showmanifest}}
        <a href="/order/delivery/manifest"><button>My Manifest</button></a>
        <p>History</p>
    {{/showmanifest}}
    {{#companies}}
        <h2>{{name}}</h2>
        {{#isdispatcher}}
            <a href="/order/dispatch/{{id}}"><button>Dispatch Board</button></a>
            <a href="/management/{{id}}"><button>Employee Management</button></a>
        {{/isdispatcher}}
        {{#isorders}}
            <a href="/order/orders/{{id}}"><button>Order Management</button></a>
        {{/isorders}}
    {{/companies}}
</div>