<div>
    <form method="POST" action="/user/login">
        <input name="username" type="text" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button>Login</button>
    </form>
    {{message}}
</div>