<div>
    <form method="POST" action="/order/orderinfo">
        <h4>Search Orders</h4>
        <input name="orderid" type="text" placeholder="Enter Order ID">
        <button>Search</button>
    </form>
    <p>{{searchmessage}}</p>
</div>