<div>
    <form method="POST" action="/user/register">
        <input name="username" type="text" placeholder="Username" required>
        <input name="password1" type="password" placeholder="Password" required>
        <input name="password2" type="password" placeholder="Reenter Password" required>
        <input name="alias" type="text" placeholder="Alias">
        <input name="email" type="email" placeholder="Email" required>
        <input name="phone" type="tel" placeholder="Phone Number" required>
        <input name="address" type="text" placeholder="Mailing Address">
        <input name="companyName" type="text" placeholder="Company Name" required>
        <input name="companyEmail" type="email" placeholder="Company Email" required>
        <input name="companyPhone" type="tel" placeholder="Company Phone Number" required>
        <button>Register</button>
    </form>
    {{message}}
</div>

