<html>
    <body>
        <h1>Welcome to TaskFly</h1>
        <p>Group task management tool</p>
        <a href="/user/register"><button>Register</button></a>
        <a href="/user/login"><button>Login</button></a>
    </body>
</html>