<html>
<body>
    <a href="/home"><button>Home</button></a>
    <h1>{{company.name}} Employee Management</h1>
    <h4>Roster</h4>
    {{>employeesMenu}}
    <h4>New Hire</h4>
    {{>newemployeeForm}}
    <h4>Existing User</h4>
    {{>addemployeeForm}}
</body>
</html>