<html>
<body>
    <h1>{{company.name}} Employee Management</h1>
    <a href="/home"><button>Home</button></a>
    <h3>Roster</h3>
    {{>employeesList}}
    <h3>New Hire</h3>
    {{>newemployeeForm}}
    <h3>Existing User</h3>
    {{>addemployeeForm}}
</body>
</html>