<html>
<body>
    <a href="/home"><button>Home</button></a>

    {{#role.dispatch}}
        <a href="/order/{{role.role}}/{{company.id}}"><button>Refresh</button></a>
    {{/role.dispatch}}
    {{#role.order}}
        <a href="/order/{{role.role}}/{{company.id}}"><button>Refresh</button></a>
    {{/role.order}}
    {{#role.delivery}}
        <a href="/order/{{role.role}}/manifest"><button>Refresh</button></a>
    {{/role.delivery}}

    {{#role.order}}

        <h1>{{company.name}} Place order</h1>
        {{>neworderForm}}
        <h4>Current Orders</h4>
        {{>orderidSearchForm}}
        {{>ordersMenuHead}}
        {{#orders}}
            {{>ordersMenuBody}}
        {{/orders}}
        {{>ordersMenuFoot}}
        {{^orders}}
            <p>No Orders</p>
        {{/orders}}

    {{/role.order}}

    {{#role.dispatch}}

        <h1>{{company.name}} Job Board</h1>
        {{>orderidSearchForm}}
        <h4>Unassigned Orders</h4>
        {{>ordersMenuHead}}
        {{#unassigned}}
            {{>ordersMenuBody}}
        {{/unassigned}}
        {{>ordersMenuFoot}}
        {{^unassigned}}
            <p>No Orders</p>
        {{/unassigned}}

        <h4>Assigned Orders</h4>
        {{>ordersMenuHead}}
        {{#assigned}}
            {{>ordersMenuBody}}
        {{/assigned}}
        {{>ordersMenuFoot}}
        {{^assigned}}
            <p>No Orders</p>
        {{/assigned}}

    {{/role.dispatch}}

    {{#role.delivery}}

        <h4>Manifest</h4>
        {{>ordersMenuHead}}
        {{#orders}}
            {{>ordersMenuBody}}
        {{/orders}}
        {{>ordersMenuFoot}}
        {{^orders}}
            <p>No Orders</p>
        {{/orders}}

    {{/role.delivery}}

    {{#role.history}}

        <h4>Delivery History</h4>
        {{>ordersMenuHead}}
        {{#orders}}
            {{>ordersMenuBody}}
        {{/orders}}
        {{>ordersMenuFoot}}
        {{^orders}}
            <p>No Orders</p>
        {{/orders}}

    {{/role.history}}

</body>
</html>