<html>
<body>
    <h1>Order Info</h1>
    {{#role.dispatch}}
        <a href="/order/{{role.role}}/{{companyid}}"><button>Back</button></a>
    {{/role.dispatch}}
    {{#role.order}}
        <a href="/order/{{role.role}}/{{companyid}}"><button>Back</button></a>
    {{/role.order}}
    {{#role.delivery}}
        <a href="/order/{{role.role}}/manifest"><button>Back</button></a>
    {{/role.delivery}}
    {{#role.history}}
        <a href="/order/{{role.role}}/history"><button>Back</button></a>
    {{/role.history}}
    {{>updateorderForm}}
</body>
</html>